//SPDX-License-Identifier: MIT
pragma solidity ^0.8.26;

import {Test} from "forge-std/Test.sol";
import "../contracts/ProxyManagerDelta.sol";
import "./utils/AssemblyProxyDeltaPayable.sol";
import "./utils/ProxyManagerDeltaPayable.sol";
import "../contracts/AssemblyProxyDelta.sol";
import "../contracts/ERC20Imp.sol";
import "../contracts/ERC20Imp_2.sol";
import "./SlotOverriter.sol";

contract ProxyDeltaTest is Test {
    address immutable private proxyManagerAddress;

    constructor(){
        bytes memory bytecode = hex"<BINARYCODE>";
        uint256 codelength = bytecode.length;
        address newContract;
        assembly {
            newContract := create(0,add(bytecode,32),codelength)
        }
        proxyManagerAddress = newContract;
    }

    function test_delta() public {
        ERC20Imp erc20_1 = new ERC20Imp();

        ProxyManagerDelta manager = ProxyManagerDelta(proxyManagerAddress);
        
        try manager.deployProxy(address(this),address(1)){
            require(false,"SHOULD FAIL IF INITIAL IMPLEMENTATION IS NOT A CONTRACT");
        }catch (bytes memory err) {
            require(err.length==36,"INVALID ERROR MESSAGE IF NEW IMPLEMENTATION IS NOT A CONTRACT");
            uint256 code;
            address errorAddr;
            assembly {
                code := shr(224,mload(add(err,32)))
                errorAddr := mload(add(err,36))
            }
            require(code==0xcb06ac21 && errorAddr==address(1),"INVALID ERROR MESSAGE IF NEW IMPLEMENTATION IS NOT A CONTRACT");
        }

        AssemblyProxyDelta proxyAsAdmin = manager.deployProxy(address(this),address(erc20_1));
        ERC20Imp proxy = ERC20Imp(address(AssemblyProxyDelta(address(proxyAsAdmin))));
        require(proxyAsAdmin.adminFunctionsGet(AssemblyProxyDelta.AdminFuctionGetType.IMPLEMENTATION)==address(erc20_1),"WRONG IMPLEMENTATION GETTER");
        require(proxyAsAdmin.adminFunctionsGet(AssemblyProxyDelta.AdminFuctionGetType.PROXY_MANAGER)==address(manager),"WRONG MANAGER GETTER");

        proxy.mint(address(this),400);
        require(keccak256(abi.encodePacked(proxy.something()))==keccak256(abi.encodePacked("HELLO")),"FAILS");
        require(proxy.balanceOf(address(this))==400,"FAILS BALANCE");

        ERC20Imp_2 erc20_2 = new ERC20Imp_2();

        try proxyAsAdmin.upgradeTo(address(1)){
            require(false,"SHOULD FAIL IF NEW IMPLEMENTATION IS NOT A CONTRACT");
        }catch (bytes memory err) {
            require(err.length==36,"INVALID ERROR MESSAGE IF NEW IMPLEMENTATION IS NOT A CONTRACT");
            uint256 code;
            address errorAddr;
            assembly {
                code := shr(224,mload(add(err,32)))
                errorAddr := mload(add(err,36))
            }
            require(code==0xcb06ac21 && errorAddr==address(1),"INVALID ERROR MESSAGE IF NEW IMPLEMENTATION IS NOT A CONTRACT");
        }

        proxyAsAdmin.upgradeTo(address(erc20_2));
        require(proxyAsAdmin.adminFunctionsGet(AssemblyProxyDelta.AdminFuctionGetType.IMPLEMENTATION)==address(erc20_2),"WRONG IMPLEMENTATION GETTER ON NEW ADDRESS");

        proxy.mint(address(this),400);
        require(keccak256(abi.encodePacked(proxy.something()))==keccak256(abi.encodePacked("ANOTHER NAME")),"FAILS ON NEW IMPLEMENTATION");
        require(proxy.balanceOf(address(this))==800,"FAILS BALANCE ON NEW IMPLEMENTATION");

        require(manager.getAdmin(address(proxy))==address(this),"WRONG ADMIN GETTER");
        manager.changeAdmin(address(proxy),address(1));
        require(manager.getAdmin(address(proxy))==address(1),"WRONG ADMIN GETTER ON NEW ADMIN");

        try manager.changeAdmin(address(proxy),address(2)){
            require(false,"SHOULD FAIL IF NOT ADMIN");
        }catch(bytes memory err){
            require(err.length==4,"WRONG ERROR MESSAGE ON GET CHANGE ADMIN");
            uint256 code;
            assembly{
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x8dfa73db,"WRONG ERROR MESSAGE ON GET CHANGE ADMIN");
        }

    }

    function test_not_payable_error() public{        
        ERC20Imp erc20_1 = new ERC20Imp();

        ProxyManagerDeltaPayable manager = ProxyManagerDeltaPayable(proxyManagerAddress);

        try manager.deployProxy{value:12}(address(this),address(erc20_1)){
            require(false,"DEPLOY NEW PROXY SHOULD FAIL WITH PAYMENT");
        }catch (bytes memory err){
            require(err.length==4,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
            uint256 code;
            assembly{
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x4e7254d6,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
        }


        AssemblyProxyDeltaPayable proxy = AssemblyProxyDeltaPayable(address(manager.deployProxy(address(this),address(erc20_1))));

        try manager.getAdmin{value: 12}(address(proxy)){
            require(false,"GET ADMIN SHOULD FAIL WITH PAYMENT");
        }catch (bytes memory err){
            require(err.length==4,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
            uint256 code;
            assembly{
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x4e7254d6,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
        }


        try proxy.adminFunctionsGet{value: 12}(AssemblyProxyDelta.AdminFuctionGetType.IMPLEMENTATION){
            require(false,"GET IMPLEMENTATION SHOULD FAIL WITH PAYMENT");
        }catch (bytes memory err){
            require(err.length==4,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
            uint256 code;
            assembly{
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x4e7254d6,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
        }

        try proxy.adminFunctionsGet{value: 12}(AssemblyProxyDelta.AdminFuctionGetType.PROXY_MANAGER){
            require(false,"GET PROXY_MANAGER SHOULD FAIL WITH PAYMENT");
        }catch (bytes memory err){
            require(err.length==4,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
            uint256 code;
            assembly{
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x4e7254d6,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
        }

        try manager.changeAdmin{value: 12}(address(proxy), address(1)){
            require(false,"CHANGE ADMIN SHOULD FAIL WITH PAYMENT");
        }catch (bytes memory err){
            require(err.length==4,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
            uint256 code;
            assembly{
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x4e7254d6,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
        }

        ERC20Imp_2 erc20_2 = new ERC20Imp_2();
        try proxy.upgradeTo{value: 12}(address(erc20_2)){
            require(false,"CHANGE IMPLEMENTATION SHOULD FAIL WITH PAYMENT");
        }catch (bytes memory err){
            require(err.length==4,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
            uint256 code;
            assembly{
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x4e7254d6,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
        }
    }

    function test_not_found_proxy() public{
        ProxyManagerDelta manager = ProxyManagerDelta(proxyManagerAddress);
        try manager.changeAdmin(address(1),address(2)){
            require(false,"SHOULD FAIL IF TARGET PROXY DON'T EXISTS");
        }catch(bytes memory err){
            require(err.length==36,"WWWWRONG ERROR MESSAGE ON TARGET PROXY DON'T EXISTS");
            uint256 code;
            address errorAddr;
            assembly{
                code := shr(224,mload(add(err,32)))
                errorAddr := mload(add(err,36))

            }
            require(code==0x6c72629e,"WRONG ERROR MESSAGE ON TARGET PROXY DON'T EXISTS");
        }
    }

    function test_corrupted_register_detection() public{
        SlotOverriter overriter = new SlotOverriter();
        ProxyManagerDelta manager = ProxyManagerDelta(proxyManagerAddress);
        SlotOverriter proxy = SlotOverriter(address(manager.deployProxy(address(this),address(overriter))));
        ERC20Imp erc20_1 = new ERC20Imp();
        try proxy.tryToCorruptProxyImplmentation(address(erc20_1)){
            require(false,"SHOULD DETECRT IMPLEMENTATION SLOT CORRUPTION");
        }catch (bytes memory err) {
            require(err.length==4,"INVALID ERROR MESSAGE ON IMPLEMENTATION SLOT CORRUPTION");
            uint256 code;
            assembly {
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x36346895,"INVALID ERROR MESSAGE ON IMPLEMENTATION SLOT CORRUPTION");
        }
    }
}
