//SPDX-License-Identifier: MIT
pragma solidity ^0.8.26;

import {Test} from "forge-std/Test.sol";
import "../contracts/ProxyManagerDelta.sol";
import "./utils/AssemblyProxyDeltaPayable.sol";
import "./utils/ProxyManagerDeltaPayable.sol";
import "../contracts/AssemblyProxyDelta.sol";
import "../contracts/ERC20Imp.sol";
import "../contracts/ERC20Imp_2.sol";

contract ProxyDeltaTest is Test {
    function test_delta() public {
        bytes memory bytecode = hex"<BINARYCODE>";
        uint256 codelength = bytecode.length;
        address targetContract;
        assembly {
            targetContract := create(0,add(bytecode,32),codelength)
        }
        
        
        ERC20Imp erc20_1 = new ERC20Imp();

        ProxyManagerDelta manager = ProxyManagerDelta(targetContract);
        
        try manager.deployProxy(address(this),address(1)){
            require(false,"SHOULD FAIL IF INITIAL IMPLEMENTATION IS NOT A CONTRACT");
        }catch Error(string memory error_str){
            require(keccak256(abi.encodePacked(error_str)) ==keccak256(abi.encodePacked("ERC1967: new implementation is not a contract")),"INVALID ERROR MESSAGE IF INITIAL IMPLEMENTATION IS NOT A CONTRACT");
        }

        AssemblyProxyDelta proxyAsAdmin = manager.deployProxy(address(this),address(erc20_1));
        ERC20Imp proxy = ERC20Imp(address(AssemblyProxyDelta(address(proxyAsAdmin))));
        require(proxyAsAdmin.adminFunctionsGet(AssemblyProxyDelta.AdminFuctionGetType.IMPLEMENTATION)==address(erc20_1),"WRONG IMPLEMENTATION GETTER");
        require(proxyAsAdmin.adminFunctionsGet(AssemblyProxyDelta.AdminFuctionGetType.PROXY_MANAGER)==address(manager),"WRONG MANAGER GETTER");

        proxy.mint(address(this),400);
        require(keccak256(abi.encodePacked(proxy.something()))==keccak256(abi.encodePacked("HELLO")),"FAILS");
        require(proxy.balanceOf(address(this))==400,"FAILS BALANCE");

        ERC20Imp_2 erc20_2 = new ERC20Imp_2();

        try proxyAsAdmin.upgradeTo(address(1)){
            require(false,"SHOULD FAIL IF NEW IMPLEMENTATION IS NOT A CONTRACT");
        }catch Error(string memory error_str){
            require(keccak256(abi.encodePacked(error_str)) ==keccak256(abi.encodePacked("ERC1967: new implementation is not a contract")),"INVALID ERROR MESSAGE IF NEW IMPLEMENTATION IS NOT A CONTRACT");
        }

        proxyAsAdmin.upgradeTo(address(erc20_2));
        require(proxyAsAdmin.adminFunctionsGet(AssemblyProxyDelta.AdminFuctionGetType.IMPLEMENTATION)==address(erc20_2),"WRONG IMPLEMENTATION GETTER ON NEW ADDRESS");

        proxy.mint(address(this),400);
        require(keccak256(abi.encodePacked(proxy.something()))==keccak256(abi.encodePacked("ANOTHER NAME")),"FAILS ON NEW IMPLEMENTATION");
        require(proxy.balanceOf(address(this))==800,"FAILS BALANCE ON NEW IMPLEMENTATION");

        require(manager.getAdmin(address(proxy))==address(this),"WRONG ADMIN GETTER");
        manager.changeAdmin(address(proxy),address(1));
        require(manager.getAdmin(address(proxy))==address(1),"WRONG ADMIN GETTER ON NEW ADMIN");

    }

    function test_not_payable_error() public{
        address targetContract;
        bytes memory bytecode = hex"<BINARYCODE>";
        uint256 codelength = bytecode.length;
        assembly {
            targetContract := create(0,add(bytecode,32),codelength)
        }
        
        
        ERC20Imp erc20_1 = new ERC20Imp();

        ProxyManagerDeltaPayable manager = ProxyManagerDeltaPayable(targetContract);

        try manager.deployProxy{value:12}(address(this),address(erc20_1)){
            require(false,"DEPLOY NEW PROXY SHOULD FAIL WITH PAYMENT");
        }catch Error(string memory error_str){
            require(keccak256(abi.encodePacked(error_str)) ==keccak256(abi.encodePacked("NOT PAYMENT ALLOWED")),"WRONG ERROR MESSAGE ON DEPLOY NEW PROXY WITH PAYMENT");
        }


        AssemblyProxyDeltaPayable proxy = AssemblyProxyDeltaPayable(address(manager.deployProxy(address(this),address(erc20_1))));

        try manager.getAdmin{value: 12}(address(proxy)){
            require(false,"GET ADMIN SHOULD FAIL WITH PAYMENT");
        }catch Error(string memory error_str){
            require(keccak256(abi.encodePacked(error_str)) ==keccak256(abi.encodePacked("NOT PAYMENT ALLOWED")),"WRONG ERROR MESSAGE ON GET ADMIN WITH PAYMENT");
        }


        try proxy.adminFunctionsGet{value: 12}(AssemblyProxyDelta.AdminFuctionGetType.IMPLEMENTATION){
            require(false,"GET IMPLEMENTATION SHOULD FAIL WITH PAYMENT");
        }catch Error(string memory error_str){
            require(keccak256(abi.encodePacked(error_str)) ==keccak256(abi.encodePacked("NOT PAYMENT ALLOWED")),"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
        }

        try proxy.adminFunctionsGet{value: 12}(AssemblyProxyDelta.AdminFuctionGetType.PROXY_MANAGER){
            require(false,"GET PROXY_MANAGER SHOULD FAIL WITH PAYMENT");
        }catch Error(string memory error_str){
            require(keccak256(abi.encodePacked(error_str)) ==keccak256(abi.encodePacked("NOT PAYMENT ALLOWED")),"WRONG ERROR MESSAGE ON GET PROXY_MANAGER WITH PAYMENT");
        }

        try manager.changeAdmin{value: 12}(address(proxy), address(1)){
            require(false,"CHANGE ADMIN SHOULD FAIL WITH PAYMENT");
        }catch Error(string memory error_str){
            require(keccak256(abi.encodePacked(error_str)) ==keccak256(abi.encodePacked("NOT PAYMENT ALLOWED")),"WRONG ERROR MESSAGE ON CHANGE ADMIN WITH PAYMENT");
        }

        ERC20Imp_2 erc20_2 = new ERC20Imp_2();
        try proxy.upgradeTo{value: 12}(address(erc20_2)){
            require(false,"CHANGE IMPLEMENTATION SHOULD FAIL WITH PAYMENT");
        }catch Error(string memory error_str){
            require(keccak256(abi.encodePacked(error_str)) ==keccak256(abi.encodePacked("NOT PAYMENT ALLOWED")),"WRONG ERROR MESSAGE ON CHANGE IMPLEMENTATION WITH PAYMENT");
        }
    }
}
