//SPDX-License-Identifier: MIT
pragma solidity ^0.8.26;

import {Test} from "forge-std/Test.sol";
import "../contracts/AssemblyProxyAlpha.sol";
import "./utils/AssemblyProxyAlphaPayable.sol";
import "../contracts/ERC20Imp.sol";
import "../contracts/ERC20Imp_2.sol";
import "./SlotOverriter.sol";

contract ProxyAlphaTest is Test {
    function test_alpha() public {
        bytes memory bytecode = hex"<BINARYCODE>";
        uint256 codelength = bytecode.length;
        address targetContract;
        ERC20Imp erc20_1 = new ERC20Imp();
        assembly {
            mstore(add(bytecode,add(32,<P>ADMIN.0<P>)),address())
            mstore(add(bytecode,add(32,<P>IMPL.0<P>)),1)
            targetContract := create(0,add(bytecode,32),codelength)
        }

        require(targetContract==address(0),"SHOULD FAIL IF INITIAL IMPLEMENTATION IS NOT A CONTRACT");

        assembly {
            mstore(add(bytecode,add(32,<P>ADMIN.0<P>)),address())
            mstore(add(bytecode,add(32,<P>IMPL.0<P>)),erc20_1)
            targetContract := create(0,add(bytecode,32),codelength)
        }

        AssemblyProxyAlpha proxyAsAdmin = AssemblyProxyAlpha(targetContract);
        ERC20Imp proxy = ERC20Imp(address(proxyAsAdmin));

        proxy.mint(address(this),400);
        require(keccak256(abi.encodePacked(proxy.something()))==keccak256(abi.encodePacked("HELLO")),"FAILS");
        require(proxy.balanceOf(address(this))==400,"FAILS BALANCE");

        require(proxyAsAdmin.implementation()==address(erc20_1),"WRONG IMPLEMENTATION GETTER");
        ERC20Imp_2 erc20_2 = new ERC20Imp_2();
        try proxyAsAdmin.upgradeTo(address(1)){
            require(false,"SHOULD FAIL IF NEW IMPLEMENTATION IS NOT A CONTRACT");
        }catch (bytes memory err) {
            require(err.length==36,"INVALID ERROR MESSAGE IF NEW IMPLEMENTATION IS NOT A CONTRACT");
            uint256 code;
            address errorAddr;
            assembly {
                code := shr(224,mload(add(err,32)))
                errorAddr := mload(add(err,36))
            }
            require(code==0xcb06ac21 && errorAddr==address(1),"INVALID ERROR MESSAGE IF NEW IMPLEMENTATION IS NOT A CONTRACT");
        }
        proxyAsAdmin.upgradeTo(address(erc20_2));
        require(proxyAsAdmin.implementation()==address(erc20_2),"WRONG IMPLEMENTATION GETTER ON NEW ADDRESS");

        proxy.mint(address(this),400);
        require(keccak256(abi.encodePacked(proxy.something()))==keccak256(abi.encodePacked("ANOTHER NAME")),"FAILS ON NEW IMPLEMENTATION");
        require(proxy.balanceOf(address(this))==800,"FAILS BALANCE ON NEW IMPLEMENTATION");

        proxyAsAdmin.changeAdmin(address(1));

        proxy.mint(address(this),400);
        require(keccak256(abi.encodePacked(proxy.something()))==keccak256(abi.encodePacked("ANOTHER NAME")),"FAILS ON NEW IMPLEMENTATION");
        require(proxy.balanceOf(address(this))==1200,"FAILS BALANCE ON NEW IMPLEMENTATION");

    }

    function test_not_payable_error() public{
        bytes memory bytecode = hex"<BINARYCODE>";
        uint256 codelength = bytecode.length;
        address targetContract;
        ERC20Imp erc20_1 = new ERC20Imp();
        assembly {
            mstore(add(bytecode,33),address())
            mstore(add(bytecode,100),erc20_1)
            targetContract := create(0,add(bytecode,32),codelength)
        }
        AssemblyProxyAlphaPayable proxy = AssemblyProxyAlphaPayable(targetContract);

        try proxy.implementation{value: 12}(){
            require(false,"GET IMPLEMENTATION SHOULD FAIL WITH PAYMENT");
        }catch (bytes memory err){
            require(err.length==4,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
            uint256 code;
            assembly{
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x4e7254d6,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
        }

        try proxy.changeAdmin{value: 12}(address(1)){
            require(false,"CHANGE ADMIN SHOULD FAIL WITH PAYMENT");
        }catch (bytes memory err) {
            require(err.length==4,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
            uint256 code;
            assembly{
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x4e7254d6,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
            
        }
        ERC20Imp_2 erc20_2 = new ERC20Imp_2();
        try proxy.upgradeTo{value: 12}(address(erc20_2)){
            require(false,"CHANGE IMPLEMENTATION SHOULD FAIL WITH PAYMENT");
        }catch (bytes memory err){
            require(err.length==4,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
            uint256 code;
            assembly{
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x4e7254d6,"WRONG ERROR MESSAGE ON GET IMPLEMENTATION WITH PAYMENT");
        }
    }

    function test_corrupted_register_detection() public{
        SlotOverriter overriter = new SlotOverriter();
        bytes memory bytecode = hex"<BINARYCODE>";
        uint256 codelength = bytecode.length;
        address targetContract;
        assembly {
            mstore(add(bytecode,add(32,<P>ADMIN.0<P>)),address())
            mstore(add(bytecode,add(32,<P>IMPL.0<P>)),overriter)
            targetContract := create(0,add(bytecode,32),codelength)
        }
        SlotOverriter proxy = SlotOverriter(targetContract);
        try proxy.tryToCorruptProxyAdmin(address(2)){
            require(false,"SHOULD DETECRT ADMIN SLOT CORRUPTION");
        }catch (bytes memory err) {
            require(err.length==4,"INVALID ERROR MESSAGE ON ADMIN SLOT CORRUPTION");
            uint256 code;
            assembly {
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x36346895,"INVALID ERROR MESSAGE ON ADMIN SLOT CORRUPTION");
        }
        ERC20Imp erc20_1 = new ERC20Imp();
        try proxy.tryToCorruptProxyImplmentation(address(erc20_1)){
            require(false,"SHOULD DETECRT IMPLEMENTATION SLOT CORRUPTION");
        }catch (bytes memory err) {
            require(err.length==4,"INVALID ERROR MESSAGE ON IMPLEMENTATION SLOT CORRUPTION");
            uint256 code;
            assembly {
                code := shr(224,mload(add(err,32)))
            }
            require(code==0x36346895,"INVALID ERROR MESSAGE ON IMPLEMENTATION SLOT CORRUPTION");
        }
    }
}